edge-tts>=6.1.12
pydub>=0.25.1
google-genai>=0.1.1
pypdf>=6.16.2
pymupdf4llm>=1.28.2
mammoth>=1.12.1
python-docx>=1.2.0
ebooklib>=0.20
beautifulsoup4>=4.15.0
html2text>=2025.4.15
rapidocr-onnxruntime>=1.4.4
opencv-python>=4.5.1
